<div class="row">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
    <span aria-hidden="true">?</span></button>
    <h4 class="modal-title">Ingrese su nueva contraseña:</h4>
  </div>
  <div class="modal-body">
    <itx-box box-type="">
      <box-title></box-title>
      <box-body>
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="row">
                <div class="form-group col-md-3">
                      <label>Usuario:</label>
                      <input type="text" class="form-control" placeholder="Usuario" ng-model="record.username" disabled>
                </div>
                <div class="form-group col-md-3">
                      <label>Password:</label>
                      <input type="password" class="form-control" placeholder="Password" ng-model="record.password">
                </div>
              </div>
            </form>
          </div>
        </div>
    <div class="col-sm-12">
     <uib-tabset active="active">
     </uib-tabset>
    </div>
      </box-body>
      <box-footer>
      </box-footer>
  </itx-box>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="close()">Cancelar</button>
    <button type="button" class="btn btn-info" ng-click="save()">Aceptar</button>
  </div>
</div>
