<div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <itx-box box-type="">
        <box-title>Bitacora</box-title>
        <box-body>
            <div class="col-md-12">              
                <button type="button" class="btn btn-info btn-new" ng-click="open(null,'lg','new')">Generar Bitacora</button>
            </div>
            <div class="col-md-12 box-body table-responsive no-padding">
                
            </div>
        </box-body>
        <box-footer>
          <div class="col-md-1 col-md-offset-11">
            <!--<button type="button" class="btn btn-primary" ng-click="getData()">Buscar</button>-->
          </div>
        </box-footer>
      </itx-box>
    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
  