<div class="row" id="rptVehicleCard">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <itx-box box-type="">
      <box-title>Revisión Semanal</box-title>
      <box-body>
        <div class="col-md-12">
          <div class="form-group  col-md-3">
            <label>Vehículo</label>
            <itx-select ng-change="record.Id_vehicle = record.cmbId_vehicle.Id_vehicle" ng-model="record.cmbId_vehicle" ng-options="tbl_ad_vehicle.vehiculo for tbl_ad_vehicle in tbl_ad_vehicles track by tbl_ad_vehicle.Id_vehicle"></itx-select>
          </div>
          <div class="form-group  col-md-3 no-print">
            <label>Ubicación:</label>
            <multi-select-tree data-input-model="data2" multi-select="false" data-output-model="record.cmbId_locationx" data-default-label="Click here to Select..."
              data-callback="selectOnly1Or2(item, selectedItems)"></multi-select-tree>
          </div>
          <div class="form-group col-md-3 no-print">
            <label>Inicio:</label>
            <div class="input-group">
              <div my-datepicker ng-model="record.start_date" dtp-enabled="enabled"></div>
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
          <div class="form-group col-md-3 no-print">
            <label>Fin:</label>
            <div class="input-group">
              <div my-datepicker ng-model="record.end_date" dtp-enabled="enabled"></div>
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 no-print">
          <div class="form-group  col-md-1">
            <button type="button" class="btn btn-info no-print" ng-click="getData()">Consultar</button>
          </div>
          <div class="form-group  col-md-1">
            <button type="button" class="btn btn-info no-print" my-print-div div-name="rptVehicleCard">Imprimir</button>
          </div>
        </div>
        <div class="col-md-12">
          <hr/>
        </div>
        <div class="col-md-12 no-print">
          <div class="form-group">
            <label for="filtroInput">Filtro</label>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" ng-model="record.q" id="filtroInput">
              <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-new">Nuevo</button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-12 box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="fit">Placa</th>
                <th>Fecha Lectura</th>
                <th>Kilometraje</th>
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Bitacora</th>
                <th>Limpieza</th>
                <th>Combustible</th>
                <!--<th>DATE_MOD</th>
                        <th>USER_MOD</th>
                        <th>Activo</th>
                        <th class="text-right fit">Editar</th>-->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in pivot_data | orderBy:Id_battery:reverse">
                <td class="fit">{{item.code}}</td>
                <td>{{item.mileage_date | dateText}}</td>
                <td>{{item.mileage_current}}</td>
                <td>{{item.user_mod}}</td>
                <td>{{item.comment}}</td>
                <td>{{item.has_history | SiNo}}</td>
                <td>{{item.is_clean | SiNo}}</td>
                <td>{{item.has_fuel | SiNo}}</td>
                <!--<td>{{item.date_mod}}</td>
                        <td>{{item.user_mod}}</td>
                        <td>{{item.active | SiNo}}</td>
                        <td class="text-right fit">
                            <button class="btn btn-default" type="button" ng-click="open(item,'lg','edit')">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>-->
              </tr>
            </tbody>
          </table>
        </div>
      </box-body>
      <box-footer>
        <div class="col-md-1 col-md-offset-11">
          <!--<button type="button" class="btn btn-primary" ng-click="getData()">Buscar</button>-->
        </div>
      </box-footer>
    </itx-box>
  </div>
  <!--/.col (left) -->
</div>
<!-- /.row -->