<div class="row">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <itx-box box-type="info">
      <box-title></box-title>
      <box-body>
        <div class="col-md-12" >
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-white" style="background: url('./images/logo.jpeg') center center no-repeat; min-height:350px;">
              <h3 class="widget-user-username">WORLD</h3>
              <h5 class="widget-user-desc">VISION</h5>
            </div>
            <!--<div class="widget-user-image">
              <img class="img-circle" src="./dist/img/ic_bg_logo_bofasa.png" alt="User Avatar">
            </div>-->
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"></h5>
                    <span class="description-text">WORLD</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"></h5>
                    <span class="description-text">VISION</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header"></h5>
                    <span class="description-text">HELP</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
      </box-body>
      <box-footer>
      </box-footer>
    </itx-box>
  </div>
  <!--/.col (left) -->
</div>
<!-- /.row -->
