<div class="row">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
      <span aria-hidden="true">?</span></button>
    <h4 class="modal-title">Siniestro</h4>
  </div>
  <div class="modal-body">
    <itx-box box-type="">
      <box-title></box-title>
      <box-body>
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="row">
                <div class="form-group col-md-4">
                  <label>ID:</label>
                  <input type="number" class="form-control" placeholder="ID_NEW" ng-model="record.Id_new" disabled>
                </div>
                <div class="form-group  col-md-4">
                  <label>Vehículo:</label>
                  <itx-select ng-change="record.Id_vehicle = record.cmbId_vehicle.Id_vehicle" ng-model="record.cmbId_vehicle" ng-options="tbl_ad_vehicle.vehiculo for tbl_ad_vehicle in tbl_ad_vehicles track by tbl_ad_vehicle.Id_vehicle"></itx-select>
                </div>
                <div class="form-group  col-md-4">
                  <label>Responsable:</label>
                  <itx-select ng-change="record.Id_manager = record.cmbId_manager.Id_manager" ng-model="record.cmbId_manager" ng-options="tbl_ad_manager.name for tbl_ad_manager in tbl_ad_managers track by tbl_ad_manager.Id_manager"></itx-select>
                </div>
                <div class="form-group  col-md-4">
                  <label>Tipo:</label>
                  <itx-select ng-change="record.Id_new_type = record.cmbId_new_type.Id_new_type" ng-model="record.cmbId_new_type" ng-options="tbl_ad_new_type.name for tbl_ad_new_type in tbl_ad_new_types track by tbl_ad_new_type.Id_new_type"></itx-select>
                </div>
                <div class="form-group col-md-4">
                  <label>Fecha Evento:</label>
                  <div class="input-group">
                    <div my-datepicker ng-model="record.event_date" dtp-enabled="enabled"></div>
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>Lugar Evento:</label>
                  <input type="text" class="form-control" placeholder="EVENT_SITE" ng-model="record.event_site">
                </div>
                <div class="form-group  col-md-6">
                  <label>Moneda</label>
                  <itx-select ng-change="record.Id_currency = record.cmbId_currency.Id_currency" ng-model="record.cmbId_currency" ng-options="tbl_ad_currency.name for tbl_ad_currency in tbl_ad_currencys track by tbl_ad_currency.Id_currency"></itx-select>
                </div>
                <div class="form-group col-md-6">
                  <label>Precio:</label>
                  <input type="text" class="form-control" placeholder="PRICE" ng-model="record.price">
                </div>
                <div class="form-group col-md-12">
                  <label>Comentario:</label>
                  <input type="text" class="form-control" placeholder="COMMENT" ng-model="record.comment">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  {{errorMsg | json}}
                  <div ngf-select="uploadFiles($file, $invalidFiles, 'image1')" ngf-drop type="file" ngf-accept="'image/*,video/*'" max-size="20MB"
                    value="Upload">
                    <img width="100" height="100" class="img-responsive img-radio" check-image ng-src="{{filepath}}{{record.image1 | randomSrc}}"
                    />
                  </div>
                  <button fancybox ng-click="openFancybox(record.image1)" type="button" class="btn btn-primary btn-radio">Ver
                    Tama?o Normal</button>
                </div>
                <div class="col-md-3">
                  {{errorMsg | json}}
                  <div ngf-select="uploadFiles($file, $invalidFiles, 'image2')" ngf-drop type="file" ngf-accept="'image/*,video/*'" max-size="20MB"
                    value="Upload">
                    <img width="100" height="100" class="img-responsive img-radio" check-image ng-src="{{filepath}}{{record.image2 | randomSrc}}"
                    />
                  </div>
                  <button fancybox ng-click="openFancybox(record.image2)" type="button" class="btn btn-primary btn-radio">Ver
                    Tama?o Normal</button>
                </div>
                <div class="col-md-3">
                  {{errorMsg | json}}
                  <div ngf-select="uploadFiles($file, $invalidFiles, 'image3')" ngf-drop type="file" ngf-accept="'image/*,video/*'" max-size="20MB"
                    value="Upload">
                    <img width="100" height="100" class="img-responsive img-radio" check-image ng-src="{{filepath}}{{record.image3 | randomSrc}}"
                    />
                  </div>
                  <button fancybox ng-click="openFancybox(record.image3)" type="button" class="btn btn-primary btn-radio">Ver
                    Tama?o Normal</button>
                </div>
                <div class="col-md-3">
                  {{errorMsg | json}}
                  <div ngf-select="uploadFiles($file, $invalidFiles, 'image4')" ngf-drop type="file" ngf-accept="'image/*,video/*'" max-size="20MB"
                    value="Upload">
                    <img width="100" height="100" class="img-responsive img-radio" check-image ng-src="{{filepath}}{{record.image4 | randomSrc}}"
                    />
                  </div>
                  <button fancybox ng-click="openFancybox(record.image4)" type="button" class="btn btn-primary btn-radio">Ver
                    Tama?o Normal</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  {{errorMsg | json}}
                  <div ngf-select="uploadFiles($file, $invalidFiles, 'image5')" ngf-drop type="file" ngf-accept="'image/*,video/*'" max-size="20MB"
                    value="Upload">
                    <img width="100" height="100" class="img-responsive img-radio" check-image ng-src="{{filepath}}{{record.image5 | randomSrc}}"
                    />
                  </div>
                  <button fancybox ng-click="openFancybox(record.image5)" type="button" class="btn btn-primary btn-radio">Ver
                    Tama?o Normal</button>
                </div>
                <div class="col-md-3">
                  {{errorMsg | json}}
                  <div ngf-select="uploadFiles($file, $invalidFiles, 'image6')" ngf-drop type="file" ngf-accept="'image/*,video/*'" max-size="20MB"
                    value="Upload">
                    <img width="100" height="100" class="img-responsive img-radio" check-image ng-src="{{filepath}}{{record.image6 | randomSrc}}"
                    />
                  </div>
                  <button fancybox ng-click="openFancybox(record.image6)" type="button" class="btn btn-primary btn-radio">Ver
                    Tama?o Normal</button>
                </div>
                <!--<div class="form-group col-md-3">
                      <label>DATE_MOD:</label>
                      <div class="input-group">
                        <div my-datepicker ng-model="record.date_mod" dtp-enabled="enabled"></div>
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                </div>
                <div class="form-group col-md-3">
                      <label>USER_MOD:</label>
                      <input type="text" class="form-control" placeholder="USER_MOD" ng-model="record.user_mod">
                </div>-->
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <label></label>
                  <itx-checkbox ng-model="record.active" is-disabled="disabled" text-label="Activo" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-12">
          <uib-tabset active="active">
          </uib-tabset>
        </div>
      </box-body>
      <box-footer>
      </box-footer>
    </itx-box>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="close()">Cancelar</button>
    <button type="button" class="btn btn-info" ng-click="save()">Aceptar</button>
  </div>
</div>