<div class="row">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
      <span aria-hidden="true">?</span></button>
    <h4 class="modal-title">Batería</h4>
  </div>
  <div class="modal-body">
    <itx-box box-type="">
      <box-title></box-title>
      <box-body>
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>ID:</label>
                  <input type="number" class="form-control" placeholder="ID_BATTERY" ng-model="record.Id_battery" disabled>
                </div>
                <div class="form-group  col-md-6">
                  <label>Vehículo</label>
                  <itx-select ng-change="record.Id_vehicle = record.cmbId_vehicle.Id_vehicle" ng-model="record.cmbId_vehicle" ng-options="tbl_ad_vehicle.vehiculo for tbl_ad_vehicle in tbl_ad_vehicles track by tbl_ad_vehicle.Id_vehicle"></itx-select>
                </div>
              </div>
              <div class="row">

                <div class="form-group col-md-4">
                  <label>Factura:</label>
                  <input type="text" class="form-control" placeholder="INVOICE" ng-model="record.invoice">
                </div>
                <div class="form-group col-md-4">
                  <label>Fecha Compra:</label>
                  <div class="input-group">
                    <div my-datepicker ng-model="record.purchace_date" dtp-enabled="enabled"></div>
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
                <div class="form-group  col-md-4">
                  <label>Proveedor</label>
                  <itx-select ng-change="record.Id_supplier = record.cmbId_supplier.Id_supplier" ng-model="record.cmbId_supplier" ng-options="tbl_ad_supplier.name for tbl_ad_supplier in tbl_ad_suppliers track by tbl_ad_supplier.Id_supplier"></itx-select>
                </div>
                <div class="form-group  col-md-6">
                  <label>Moneda</label>
                  <itx-select ng-change="record.Id_currency = record.cmbId_currency.Id_currency" ng-model="record.cmbId_currency" ng-options="tbl_ad_currency.name for tbl_ad_currency in tbl_ad_currencys track by tbl_ad_currency.Id_currency"></itx-select>
                </div>
                <div class="form-group col-md-6">
                  <label>Precio:</label>
                  <input type="text" class="form-control" placeholder="PURCHACE_PRICE" ng-model="record.purchace_price">
                </div>
              </div>
              <div class="row">

                <div class="form-group  col-md-4">
                  <label>Marca</label>
                  <itx-select ng-change="record.Id_battery_make = record.cmbId_battery_make.Id_battery_make" ng-model="record.cmbId_battery_make"
                    ng-options="tbl_ad_battery_make.name for tbl_ad_battery_make in tbl_ad_battery_makes track by tbl_ad_battery_make.Id_battery_make"></itx-select>
                </div>
                <div class="form-group col-md-4">
                  <label>Celdas:</label>
                  <input type="number" class="form-control" placeholder="CELLS" ng-model="record.cells">
                </div>
                <div class="form-group col-md-4">
                  <label>Vencimiento:</label>
                  <div class="input-group">
                    <div my-datepicker ng-model="record.due_date" dtp-enabled="enabled"></div>
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="form-group col-md-6">
                  <label>Comentario:</label>
                  <input type="text" class="form-control" placeholder="COMMENT" ng-model="record.comment">
                </div>
                <div class="form-group  col-md-6">
                  <label>Tipo</label>
                  <itx-select ng-change="record.Id_battery_type = record.cmbId_battery_type.Id_battery_type" ng-model="record.cmbId_battery_type"
                    ng-options="tbl_ad_battery_type.name for tbl_ad_battery_type in tbl_ad_battery_types track by tbl_ad_battery_type.Id_battery_type"></itx-select>
                </div>

              </div>
              <div class="row">
                <!--<div class="form-group col-md-3">
                      <label>DATE_MOD:</label>
                      <div class="input-group">
                        <div my-datepicker ng-model="record.date_mod" dtp-enabled="enabled"></div>
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                </div>
                <div class="form-group col-md-3">
                      <label>USER_MOD:</label>
                      <input type="text" class="form-control" placeholder="USER_MOD" ng-model="record.user_mod">
                </div>-->
                <div class="form-group col-md-3">
                  <label>Fecha Baja:</label>
                  <div class="input-group">
                    <div my-datepicker ng-model="record.inactivation_date" dtp-enabled="enabled"></div>
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label></label>
                  <itx-checkbox ng-model="record.active" is-disabled="disabled" text-label="Activo" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-12">
          <uib-tabset active="active">
          </uib-tabset>
        </div>
      </box-body>
      <box-footer>
      </box-footer>
    </itx-box>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="close()">Cancelar</button>
    <button type="button" class="btn btn-info" ng-click="save()">Aceptar</button>
  </div>
</div>