<div class="row">
	<div class="col-md-4">
		<itx-box box-type="">
		  <box-title></box-title>
			<box-body>          
			  <div class="col-md-12">
					<!--<button type="submit" class="btn btn-primary" ng-click="checkAll(dataTreePivot,true)">Marcar</button>
					<button type="submit" class="btn btn-primary" ng-click="checkAll(dataTreePivot,false)">Desmarcar</button>-->
					<button type="submit" class="btn btn-primary" ng-click="expandAll(dataTreePivot,true)">Expandir</button>
					<button type="submit" class="btn btn-primary" ng-click="expandAll(dataTreePivot,false)">Collapsar</button>
			  </div>
			  <div class="col-md-12">
				<hr/>
			  </div>
			  <div class="col-md-12">
				<input type="text" class="form-control" ng-model="record.qx" my-enter="fnFilter()">
			  </div>
			  <div class="col-md-12 box-body table-responsive no-padding;" style="min-height:400px; max-height:400px; overflow:scroll;">
				<div my-tree-view data="dataTreePivot" handson-size="500" on-selection-change="onSelectionChange(event, data)" multi-select="false"></div>
			  </div>
			</box-body>
		  <box-footer>
			
		  </box-footer>
		</itx-box>
	</div>
	<div class="col-md-8">
		<itx-box box-type="">
			<box-title>
				
			</box-title>
			<box-body>
			  <div class="col-md-12 box-body table-responsive no-padding">
				<div class="form-group col-md-4">
					<label>ID:</label>
					<input type="number" class="form-control" placeholder="" ng-model="record.Id_menu" disabled>
				</div>
				<div class="col-md-8">
					<label>Pariente</label>
					<itx-select ng-change="record.Id_menu_parent = record.cmbId_menu_parent.Id_menu" 
					ng-model="record.cmbId_menu_parent"
						  ng-options="(tbl_ad_menu.Id_menu+' - '+tbl_ad_menu.description) for tbl_ad_menu in tbl_ad_menus track by tbl_ad_menu.Id_menu">
					</itx-select>
				</div>
				<div class="form-group col-md-12">
					<label>Codigo:</label>
					<input type="text" class="form-control" placeholder="" ng-model="record.code">
				</div>
				<div class="form-group col-md-12">
					<label>Nombre:</label>
					<input type="text" class="form-control" placeholder="" ng-model="record.name">
				</div>
				<div class="form-group col-md-6">
						  <label></label>
						  <itx-checkbox ng-model="record.active" is-disabled="disabled" text-label="Activo" />
				</div>
				<div class="form-group col-md-12">
					<label>Descripción:</label>
					<input type="text" class="form-control" placeholder="" ng-model="record.description">
				</div>
				
			  </div>
		  </box-body>
		  <box-footer>
			<button type="button" class="btn btn-warning" ng-click="cancel()">Cancelar</button>
			<button type="button" class="btn btn-info" ng-click="save()">Aceptar</button>
		  </box-footer>
		</itx-box>
	</div>
  </div>
</div>
